.sidenav-background {
    height: 150%; /* 100% Full-height */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    width: 250px; /* 0 width - change this with JavaScript */
    top: 0;
    background-color: rgba(10,10,10,0.8); /* Black*/
}

/* The side navigation menu */
.sidenav {
    font-family: futura !important;  
    height: 150%; /* 100% Full-height */
    position: absolute; /* Stay in place */
    z-index: 21; /* Stay on top */
    left: 0;
    width: 250px; /* 0 width - change this with JavaScript */
    top: 0;
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 145px; /* Place content 100px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */    
}



.sidenav-non-collapsed{
    width: 250px; /* 0 width - change this with JavaScript */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 85px;
    text-decoration: none;
    font-size: 15px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    line-height: 3.2em;
    text-align: left;    
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #e8643e;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.navbar-header-augmented{
    text-align: center;
    width: 100%;
    margin-left: 0px;
    position: absolute;
    z-index: 1050;
}

.navbar-brand-augmented{
    top: -12px;
    text-align: center;
    width: 100%;
    margin-left: 0px;
    position: absolute;
    z-index: 950;
    left: 52px;
}

.navbar-brand-augmented img{
    padding: 0;
    margin: 0;
    width: 110px;
    float: left;
}

.navbar-bottom{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-color: rgba(255, 255, 255, 0.8);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(255, 255, 255, 0.8);
    border-right-color: rgba(255, 255, 255, 0.8);
    border-top-color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
    padding: 10px;
}


.navbar-bottom div span{
    margin-left: 12px;
    margin-right: 12px;
}

.navbar-bottom div a{
    padding: 0;
    margin: 0;
    display: inline-block;
}

.navbar-bottom img{
    width: 20px;
}

@media (max-width: 1280px)  {
    .sidenav{
        padding-top: 120px;
    }

    .sidenav a{
        line-height: 1.8em;
    }

}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ----------- iPad mini ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .sidenav-non-collapsed{
        width: 100%; /* 0 width - change this with JavaScript */
    }

    /* The side navigation menu */
    .sidenav {  
        padding-top: 135px; /* Place content 40px from the top */
    }

    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 23px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        line-height: 1.5em;
        text-align: center;    
    }


    .navbar-bottom{
        margin-top: 0px;
    }


}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .sidenav-non-collapsed{
        width: 100%; /* 0 width - change this with JavaScript */
    }

    /* The side navigation menu */
    .sidenav {
        padding-top: 150px; /* Place content 40px from the top */
    }

    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 23px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        line-height: 1.3em;
        text-align: center;    
    }
}

/* ----------- Mobile ----------- */
/* Portrait */
@media only screen 
  and (max-device-width: 767px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .sidenav-background{
        display: none;
    }

    .sidenav{
        display: none;
    }

    .sidenav-non-collapsed{
        width: 100%; /* 0 width - change this with JavaScript */
        
    }

    /* The side navigation menu */
    .sidenav {  
        padding-top: 50px; /* Place content 40px from the top */
    }

    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 45px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        line-height: 4em;
        text-align: center;    
    }

    .navbar-bottom div span {
        margin-left: 35px;
        margin-right: 35px;
    }

    .navbar-bottom div span img{
        width: 80px;
    }


    .top-rr{
        margin-top: 20px;
        font-size: 45px;
    }


}

/* Landscape */
@media only screen 
  and (max-device-width: 767px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .sidenav-non-collapsed{
        width: 100%; /* 0 width - change this with JavaScript */
    }

    

    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 23px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        line-height: 1.3em;
        text-align: center;    
    }

    .sidenav{
        padding-top: 135px;
    }

    .sidenav a{
        line-height: 1.5em;
    }

    .navbar-bottom{
        margin-top: 10px;
    }
}